
body{
    background-color: rgb(2, 0, 134);
    color: #ffffff;

}
.titulo{
    display: flex;
}
 

#manuel-gomes {
    width: 500px;
}
#papel{
    width: 500px;
}
#b{
    width: 500px;
}
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .header, .footer {
        text-align: center;
    }

    .nav {
        display: block;
        text-align: center;
    }

    .nav a {
        display: block;
        margin: 10px 0;
    }
}

/* Estilos específicos para dispositivos com tela menor que 480px (celulares pequenos) */
@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .header h1 {
        font-size: 1.5em;
    }

    .nav a {
        font-size: 1em;
    }
}
